<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Spandlex</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ng-container *ngIf="isDeckSelectorVisible">
			<app-deck-size-selector [styleClass]="'form-inline'"></app-deck-size-selector>
		</ng-container>
	</div>
</nav>
<div class="container mt-3">
	<router-outlet></router-outlet>
</div>
