<form [ngClass]="styleClass" [formGroup]="deckForm" (submit)="startGame()">
	<div class="form-group form-row">
		<label for="title" class="col-form-label col-2 text-right">
			Deck Size:
		</label>
		<div class="col-10">
			<select class="form-control" id="deck" required formControlName="deck" name="deck">
				<option *ngFor="let even of cardService.evens" [value]="even.value">{{ even.value }}</option>
			</select>
		</div>
	</div>

	<div class="form-group mb-0 text-right pt-3">
		<button type="submit" class="ml-auto btn btn-primary mr-2" [disabled]="!deckForm.valid">Start new game</button>
	</div>

</form>
