<div class="d-flex justify-content-between">
	<span>Current tries: {{ cardService.tryings }}</span>
	<span>Best: {{ cardService.best }}</span>
	<button type="button" class="btn btn-dark" (click)="restart()">Restart</button>
</div>

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4" *ngIf="cardService.cards.length > 0">
	<div class="col mb-4" *ngFor="let card of cardService.cards">

			<div class="card" (click)="cardService.selectCard(card)">
				<ng-container *ngIf="(card.selected === true || card.disabled === true)">
					<img src="assets/images/cards/{{ card.name }}" class="card-img h-100">
				</ng-container>
				<ng-container *ngIf="!(card.selected === true || card.disabled === true)">
					<img src="assets/images/splendex-logo.svg" class="card-img h-100">
				</ng-container>
			</div>

	</div>
</div>
